<div class="container p-2 text-center">
    <h1>Administracion de productos</h1>
    <hr>
    <div class="row">
        <div class="col-8 d-flex justify-content-start">
            <button style="margin-right: 2rem;" 
                mat-button class="text-light bg-success"
                (click)="openDialog( 'save' )">
                + Agregar nuevo producto
            </button>
        
           <product-filter-category />
        </div>
        <div>
            <product-search (eventEmitter)="refreshDatasource( $event )"/>
        </div>
    </div>
    
    <table class="table table-striped">    
        <thead>
            <tr>
                <th 
                    *ngFor="let col of columnsTable" 
                    scope="col">
                    {{ col }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataSource"
            scope="row">
                <td style="width: 100px; "><img [src]="item |urlImage" [alt]="item.description +'image'" style="height: 80px;"></td>
                <td>{{ item.id }}</td>
                <td style="width: 25rem;">{{ item.description }}</td>
                <td>$ {{ item.price }}</td>
                <td>{{ item.available |stringBoolean }}</td>
                <td>{{ item.category.name |uppercase}}</td>
                <td>
                    <button class="m-2" style="background-color: orange;" mat-button (click)="openDialog( 'update', item )"><i><mat-icon>edit</mat-icon></i></button>
                    <button class="m-2" style="background-color: yellow;" mat-button (click)="openDialog( 'disable' )"><i><mat-icon>block</mat-icon></i></button>
                    <button class="m-2" style="background-color: red;" mat-button (click)="openDialog( 'delete' )"><i><mat-icon>delete</mat-icon></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator 
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
    </mat-paginator>

</div>
