<div class="container text-center">
    <h1>Listado de productos</h1>
    <div class="row">
        <div class="col-2">
            <span>Filtrar por: </span>
            <product-filter-category />
        </div>
        <div class="col-10">
            <product-search class="d-flex justify-content-end"/>
        </div>
    </div>
    <div class="row">
        <div class="col p-0 d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="https://maxiconsumo.com/media/catalog/product/cache/8313a15b471f948db4d9d07d4a9f04a2/1/9/19904_169120741864cdc6fa669305.47676088.jpg">
                <div class="card-body">
                    <h3 class="card-title">Fideos Caracoles Marolio 500g</h3>
                    <p class="card-text"><b class="bg-primary p-2 text-light">$1250.00</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
