<h1>Administracion de productos</h1>
<mat-divider></mat-divider>

<div class="d-flex justify-content-between align-items-center">
    <div class="text-start">
        <button mat-raised-button style="color: white; background-color: green;">
            <mat-icon>add</mat-icon> Agregar nuevo producto
        </button>
    </div>
    <div>
        <mat-form-field class="w-10">
            <mat-label>Producto: </mat-label>
            <input matInput>
        </mat-form-field>
        <button><mat-icon>search</mat-icon></button>
    </div>
</div>

<div>
    <table class="table table-striped">    
        <thead>
            <tr>
                <th 
                    *ngFor="let col of columnsTable" 
                    scope="col">
                    {{ col }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataSource"
            scope="row">
                <td class="align-items-center"><img [src]="item.img" alt="Product img" style="height: 120px;"></td>
                <td class="text-break">{{ item.id }}</td>
                <td class="text-break">{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.available }}</td>
                <td>{{ item.category.name }}</td>
                <td>
                    <button mat-raised-button style="background-color: yellow; width: 2px;"><mat-icon>do_not_disturb_on</mat-icon></button>
                    <button mat-raised-button style="background-color: orange;"><mat-icon>update</mat-icon></button>
                    <button mat-raised-button style="background-color: red;"><mat-icon>remove</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
