<div class="p-2 text-center">
    <h1>Bienvenido/a</h1>
    <h3>¿Que desea realizar?</h3>

    <div class="d-flex justify-content-center">
        <div class="card" style="width: 20rem; margin-right: 2.5rem;">
            <img class="img-card-top" src="./assets/icons/admin.png" alt="admin image">
            <a href="./products/admin" class="m-3 btn btn-primary">Administracion</a>
        </div>
        <div class="card" style="width: 20rem; margin-right: 2.5rem;">
            <img class="img-card-top" src="./assets/icons/browser.png" alt="admin image">
            <a href="./products" class="m-3 btn btn-primary">Vista general</a>
        </div>
    </div>
</div>

